
.Headers {
    margin-top:2em;
    font-size: 14px;
    font-family:arial,sans-serif;
 
}
.Headers a {
    text-decoration: none;
}
ul {
    /* This gets rid of the bullet points in front of list */
    list-style-type: none;
    /* To get rid of the space where bullets were, we use margin and padding */
    margin:0;
    padding:0;
}
li {
     float:left;
}
img {
    border-radius: 10%;
    max-width:250px;
    max-height:250px;
}
input {
    width:550px;
    height: 40px;
}
.button-Google-Search {
    display:inline-block;
}

.button-Lucky{
    display: inline-block;
}

.buttons{
    display:inline-block;
    background-color:#f8f9fa;
    margin-top:2em;
    margin-left:0.5em;
    padding:10px;
    text-align:center;
    border-radius:4px;
    font-size:14px;
    color: #202124;
    border: 1px solid #f8f9fa;
}
.buttons:hover{
   box-shadow: 0 1px 1px rgba(219, 223, 222, 0.973);
}

.Google-waffle {
    width: 18px;
    box-shadow:0 1px 1px rgba(0,0,0,0);
}
.left-top {
    margin-left: 30px;
}
.right-top{
    margin-left: 30px;
    float:right;
    font-size:13px;
   
}

p {
    margin-top:3em;
    font-size:14px;
    display:flex;
    align-self:center;
    
}

 a {
    color:black;
    text-indent: 10px;
    word-spacing: 3px;
    display:flex;
    align-self:center;
}
a:hover {
    text-decoration: underline;
}
.English, .French {
    color:#1a0dab;
    text-decoration:none;
}

.languages:hover {
    text-decoration:underline;
}

.search-bar:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,1);
}

.search-bar {
    border-radius: 25px;
    /* Percentage is relative to the width of the container block */
    border: 1px solid #dadce0;
    position:relative;
    margin-top: 2.5em;
    right:20%;
    background-color: transparent;
    outline: none;
    /* How to have an image inside a text-field Left side */
    background-image: url("magnifying-glass-1976105_1280.png"), url("outline_mic_black_24dp.png");
    background-position: left, right;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: center;
    background-position-x: 15px, 42.3em;
    padding-left:45px;
  
}


.right-circle-search {

}

body {
    /* This will hide vertical and horizontal scroll bars */
    overflow:hidden;
    
}
.body-content {
    /* Let the browser handle margin by using auto */
    margin:auto;
    /* Width of body content is half the width of current browser */
    width: 50%;
    /* Padding is the distance between content and its border */
    padding-top:100px;
    padding-left:300px;
}



.bottom-left {
    margin-left:30px;
    }

.bottom-left:hover {
    text-decoration: underline;
}

.bottom-right {
    margin-left:30px;
    float:right;
}
.bottom-right:hover {
    text-decoration: underline;
}

footer { 
    padding: 20px 20px 40px 0;
    background:rgba(0,0,0,.54);
    margin-top:17.9em;
    font-size:14px;
    font-family: arial,sans-serif;
    background-color:#f8f9fa;
}

.footing {
    text-decoration: none;
}
.footing:hover {
    text-decoration: underline;
}





