.Header {
    font-family:arial,sans-serif;
    font-size: 14px;
    color:#222;
    display:inline;
    /* position:relative; */
    vertical-align: bottom;
   
}

.Headers{
   
}
ul {
    /* This gets rid of the bullet points in front of list */
    list-style-type: none;
    /* To get rid of the space where bullets were, we use margin and padding */
    margin:0;
    padding:0;
}
li {
     float:left;
    
}
.left-top {
    margin-left: 30px;
}
.right-top{
    margin-left: 30px;
    float:right;
}
.Google-HomePage{
    margin: 0 0 0 700px;
}
.buttons {
    margin: -100px 0 0 700px;
   
}
.search-bar {
    border-radius: 25px;
}

