.Header {
    font-family:arial,sans-serif;
    font-size: 14px;
    color:#222;
    display:inline;
    /* position:relative; */
    vertical-align: bottom;
    /* Note that this element doesn't actually do anything */
}

.Headers {
    margin-top:2em;
    font-size: 14px;
    font-family:arial,sans-serif;
 
}
.Headers a {
    text-decoration: none;
}
ul {
    /* This gets rid of the bullet points in front of list */
    list-style-type: none;
    /* To get rid of the space where bullets were, we use margin and padding */
    margin:0;
    padding:0;
}
li {
     float:left;
}
img {
    border-radius: 10%;
    max-width:250px;
    max-height:250px;
}
input {
    width:550px;
    height: 40px;
}
.buttons{
    display:inline-flex;
    float:right;
    background-color:#f8f9fa;
    /* top:100px;
    right: 475px; */
    color: #202124;
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    padding:10px 16px;
    font-family: arial,sans-serif;
    font-size:14px;
    margin-right: 10px;
    max-width:54px;
  
}

.Google-waffle {
    width: 18px;
    box-shadow:0 1px 1px rgba(0,0,0,0)

}
.left-top {
    margin-left: 30px;
}
.right-top{
    margin-left: 30px;
    float:right;
    font-size:13px;
   
}
.Google-HomePage{
    /* margin: 0 0 0 700px;
    text-align:center;
    margin-top:150px;
    */
}
p {
    text-indent:30px;
}

.search-bar {
    border-radius: 25px;
    /* Percentage is relative to the width of the container block */
    
}
body {
    /* This will hide vertical and horizontal scroll bars */
    overflow:hidden;
}
.body-content {
    /* Let the browser handle margin by using auto */
    margin:auto;
    /* Width of body content is half the width of current browser */
    width: 50%;
    /* Padding is the distance between content and its border */
    padding-top:100px;
    padding-left:300px;
    /* I guess it's at the center? */
  

    

}
.bottom-left {
    margin-left:30px;
    }

.bottom-right {
    margin-left:30px;
    float:right;
}
footer { 
    padding: 10px 30px 40px 0px;
    background:rgba(0,0,0,.54);
    margin-top:27em;
    font-size:14px;
    text-align:center;
    font-family: arial,sans-serif;
}




